<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div id="mtitle">
  <%= @meeting.title %>
</div>

<div id="meeting">
	<div id="description">
  		<%= image_tag @meeting.image_url %>
  		<%= sanitize @meeting.description %>
  	</div>
	<div id="visiters">
		<ul> Участники:
		<% @meeting.users.each do |user| %>
		<li><%= user.name %></li>
		<% end %>
		</ul>
	</div>
	<br>
	<div id="comments">
		<h2>Комментарии</h2>
		<%= render @meeting.comments %>
	</div>
	<%= render 'comments/form' %>
	<% unless @meeting.users.find_by(id: session[:user_id]) %>
	<%= link_to 'Учавствовать', participate_path %>
	<% end %>
</div>