<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div id="mtitle">
  <%= @meeting.title %>
</div>

<div id="meeting">
	<div id="description">
  		<%= image_tag @meeting.image(:thumb), :class => "meeting_image" %>
  		<%= sanitize @meeting.description %>
  	</div>
	<div id="visiters">
		<strong>Создатель встречи:</strong>
		<div class="visiter"><%= link_to (image_tag @meeting.creator.user.profile.avatar(:thumb), :class => "avatar"), not_my_profile_path(@meeting.creator.user) %>	<%= @meeting.creator.user.profile.name %></div>
		 Участники:
		<% @meeting.users.each do |user| %>
		<div class="visiter"><%=link_to (image_tag user.profile.avatar(:thumb), :class => "avatar"), not_my_profile_path(user) %><%= user.profile.name %></div>
		<% end %>
	</div>
	<br>
	<div id="comments">
		<h2>Комментарии</h2>
		<%= render @meeting.comments %>
	</div>
	<%= render 'comments/form' %>
	<% if session[:user_id] %>
		<% unless @meeting.users.find_by(id: session[:user_id]) or @meeting.creator.user == current_user %>
		<%= link_to 'Учавствовать', participate_path, class: "button" %>
	<% end %>
	<% end %>
</div>