<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<p>
  <h1><%= @meeting.title %></h1>
</p>

<p>
  <%= image_tag @meeting.image_url %>
</p>

<p>
  <%= sanitize @meeting.description %>
</p>

<h2>Комментарии</h2>
<%= render @meeting.comments %>


<h2>Добавить комментарий:</h2>
<%= render 'comments/form' %>

<%= link_to 'Редактировать', edit_meeting_path(@meeting) %>
