<!DOCTYPE html>
<html>
<head>
  <title>Goodmeet</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= image_tag("logo.png") %>
    <%= @page_title || "GOODMEET" %>
    <div class="login">
    	<% if session[:user_id] %>
    		Добро пожаловать, <%= (User.find_by(id: session[:user_id])).name %>
    		<%=link_to  "Выйти", '/sessions/destroy' %>
    	<% else %>
    		<%=link_to  "Зарегистрируйтесь", new_user_path %>
    		, или
    		<%=link_to  "Войдите", login_path %>
    	<% end %>
    </div>
  </header>
  <div class="<%= controller.controller_name %>">
      <%= yield %>
  </div>
</body>
</html>
