<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content = "width-device-width, initial-scale-1.0"/>
  <title>MyBooze</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <input type="checkbox" id="nav-toggle" hidden>
    <div class="nav">
      <label for="nav-toggle" class="nav-toggle" onclick></label>
      <h2 class="logo"> 
            <%= link_to "MyBooze", root_path %>
      </h2>
        <ul>
            <li><%= link_to "Домой", root_path %>
        </ul>
    </div>
    <div class="mask-content"></div>
    <main role="main">
    <header>
      <%= link_to image_tag("logo.png"), root_path %>
      <div id="login">
       <% if session[:user_id] %>
          Добро пожаловать, <%= link_to current_user.name, profile_path %>
        <%=link_to  "Выйти", logout_path, method: :get %>
       <% else %>
        <%=link_to  "Зарегистрируйтесь", new_user_path %>
        , или
        <%=link_to  "Войдите", login_path %>
      <% end %>
    </div>
  </header>
  <div class="<%= controller.controller_name %>">
      <%= yield %>
  </div>
</main>
</body>
</html>
